* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flex {
  display: flex;
  gap: 50px;
  font-size: large;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 230px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  height: 25px;
  width: 230px;
  cursor: pointer;
  margin-top: 10px;
}

.data {
  border: 1px solid black;
  max-height: 100vh;
  padding: 20px;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.details {
  display: flex;
  flex-direction: column;
}

.heading {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}
